@model Gold_Billing_Web_App.Models.DashboardViewModel

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg">
            <div class="row">
                <!-- Total Sales Gross Weight Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Gross Weight (Sales) <span>| All Time</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.TotalSales.ToString("N2") g</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Total Sales Gross Weight Card -->
                <!-- Total Purchase Gross Weight Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Gross Weight (Purchases) <span>| All Time</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-rupee"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.TotalPurchase.ToString("N2") g</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Total Purchase Gross Weight Card -->
                <!-- Gross Weight Stock Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Gross Weight (Stock) <span>| Current</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-box"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@Model.GrossWeight.ToString("N2") g</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Gross Weight Stock Card -->
            </div>
        </div><!-- End Left side columns -->
    </div>
</section>