<div class="container-sm p-3" style="background-color: lightsteelblue; border-radius: 10px;">
    <h4>PAYMENT</h4>
    <hr>
    <form>
        <div class="row mb-3">
            <div class="col-md-3">
                <label>Bill No</label>
                <input type="text" class="form-control" disabled />
            </div>
            <div class="col-md-3">
                <label>Date</label>
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Account Name</label>
                <select class="form-control">
                    <option>Select Account</option>
                    <option>Account 1</option>
                    <option>Account 2</option>
                </select>
            </div>
        </div>
        <div class="mb-2">
            <div>
                <input type="radio" name="PaymentType" value="Payment" checked /> Payment
                <input type="radio" name="PaymentType" value="Receive" /> Receive
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="PaymentMode">Payment Mode</label>
                <select name="PaymentMode" class="form-control">
                    <option value="">Select</option>
                    <option value="Cash">Cash</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Card">Card</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Amount</label>
                <input type="text" name="Amount" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label>Narration</label>
                <textarea name="Narration" class="form-control"></textarea>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>
