@model Gold_Billing_Web_App.Models.ItemModel
@{
    ViewData["Title"] = Model.Id.HasValue ? "Edit Item" : "Add Item";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <div class="card">
        <div class="card-body">
            <form asp-action="SaveItem" asp-controller="Item" method="post" class="row g-3">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" /> <!-- Add hidden field for UserId -->

                <div class="row">
                    <h5 class="mt-5">Item Details</h5>
                    <hr>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Name" class="form-label">Item Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="ItemGroupId" class="form-label">Item Group</label>
                        <select asp-for="ItemGroupId" class="form-control" asp-items="@(new SelectList(ViewBag.ItemGroupList, "Id", "GroupName"))">
                            <option value="">Select Item Group</option>
                        </select>
                        <span asp-validation-for="ItemGroupId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>

                <div class="d-flex justify-content-start mt-4">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a asp-action="ItemList" class="btn btn-secondary mx-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}